<div class="footer">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <img src="assets/images/mlnguyen logo.PNG" width="200" class="d-block mx-auto">
            </div>
            <div class="col-md-2">
                <div class="category-header">
                    <p>Our Locations</p>
                </div>
                <div class="location-links">
                    <div class="row"><a routerLinkActive="active" routerLink="/locations">1234 Toronto St.</a></div>
                    <div class="row"><a routerLinkActive="active" routerLink="/locations">321 Yonge St.</a></div>
                    <div class="row"><a routerLinkActive="active" routerLink="/locations">789 Keele St.</a></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="category-header">
                    <p>Keep in touch with us</p>
                </div>
                <div class="social-media-links">

                    <a href="https://www.facebook.com"><fa-icon [icon]="['fab', 'facebook']" size="3x"></fa-icon></a>
                    <a href="https://www.instagram.com"><fa-icon [icon]="['fab', 'instagram']" size="3x"></fa-icon></a>
                    <a href="https://www.twitter.com"><fa-icon [icon]="['fab', 'twitter']" size="3x"></fa-icon></a>

                    <p>Made by Matthew Nguyen</p>
                </div>
            </div>
        </div>
    </div>
</div>