<div class="wrapper">
    <div class="header-container container-fluid">

        <!-- Jumbotron Header -->
        <div class="jumbotron jumbotron-fluid">
            <div class="content d-flex justify-content-center align-items-center">
                <div class="text-center">
                    <h1 class="display-1">About</h1>
                    <hr>
                    <h4>Our history of mlnguyen restaurant</h4>
                    <hr>
                </div>
            </div>
        </div>

    </div>

    <div class="history-content container-fluid">

        <div class="container">

            <!-- Content -->
            <div class="row">
                <div class="col-md-6">
                    <img class="img-fluid" src="assets/images/about/chef-history.jpg" alt="history">
                </div>
    
                <div class="col-md-6">
                    <h1>Our History</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Auctor elit sed vulputate mi sit amet mauris commodo quis. Sed lectus
                        vestibulum mattis ullamcorper velit sed. Tellus in hac habitasse platea dictumst vestibulum rhoncus
                        est. Purus faucibus ornare suspendisse sed. Convallis tellus id interdum velit laoreet id donec
                        ultrices. Quis eleifend quam adipiscing vitae proin sagittis nisl. Aliquet enim tortor at auctor
                        urna nunc id cursus. Purus sit amet volutpat consequat mauris nunc. Mauris pellentesque pulvinar
                        pellentesque habitant morbi tristique senectus et. Tortor vitae purus faucibus ornare suspendisse
                        sed nisi. Ac auctor augue mauris augue neque gravida in. Blandit massa enim nec dui. Est velit
                        egestas dui id ornare arcu odio ut sem.</p>
                    <img class="img-fluid" src="assets/images/about/history-3.jpg" alt="history">
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-6">
                    <h1 style="margin-top: 1rem;">Our Journey</h1>
                    <p>Eu augue ut lectus arcu bibendum at. Mus mauris vitae ultricies leo integer malesuada nunc vel risus.
                        Pellentesque habitant morbi tristique senectus et. Amet nisl suscipit adipiscing bibendum est
                        ultricies integer quis auctor. Egestas tellus rutrum tellus pellentesque. Sed elementum tempus
                        egestas sed sed risus pretium quam. Senectus et netus et malesuada fames. Ut porttitor leo a diam.
                        Velit scelerisque in dictum non. Ut tortor pretium viverra suspendisse. Magna etiam tempor orci eu
                        lobortis elementum nibh tellus. Elementum nisi quis eleifend quam adipiscing vitae. Nulla malesuada
                        pellentesque elit eget. Et ultrices neque ornare aenean euismod elementum nisi quis. Convallis
                        aenean et tortor at risus viverra adipiscing at. Pellentesque habitant morbi tristique senectus et
                        netus et malesuada fames. Donec massa sapien faucibus et molestie. Est sit amet facilisis magna
                        etiam. Etiam dignissim diam quis enim lobortis.</p>
                    <img class="img-fluid" src="assets/images/about/history-4.jpg" alt="history">
                </div>
                <div class="col-md-6" style="margin-top: -2rem;">
                    <img class="img-fluid" src="assets/images/about/history-1.jpg" alt="history">
                    <img class="img-fluid" src="assets/images/about/history-2.jpg" alt="history">
                </div>
            </div>
        </div>
    </div>
    

</div>