.parallax-header {
    background: #292b2c;
    background: url('/assets/images/home/restaurant-space.jpg');
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.header-content {
    padding: 100px 0 350px 0;
    text-shadow: 2px 2px 8px #000000;
}

.header-content p {
    padding: 50px 0 50px 0;
    font-size: 80px;
    font-weight: bolder;
    color: orange;
}

.content {
    margin-bottom: 40px;
}

.title-location{
    padding: 40px 0 10px 0;
    text-align: center;
}

.store-front-img {
    width: 400px;
    height: 275px;
}

.store-front-address {
    margin-top: 15px;
}

.parallax-section-1 {
    background: #292b2c;
    background: url('/assets/images/home/strawberry-and-chocolate.jpg');
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    text-shadow: 2px 2px 8px #000000;
}

.section-content {
    padding: 200px 0 200px 0;
}
.section-content-2 {
    padding: 80px 0 100px 0;
}
.section-content-2 * {
    margin-top: 20px;
}
.comments-container{
    padding: 75px 0 100px 0;
    width: 700px;
    height: 500px;
    background: #292b2c;
}

.comment {
    width: 700px;
    height: 345px;
    margin-top: 30px;
    outline-style: none;
}
.comment h2 {
    padding-top: 20px;
    width: 350px;
    height: 200px;
}
.comment h3 {
    padding: 0 60px 0 60px;
}
h1 {
    color: orange;
}

img {
    margin: 10px;
}

.menu-item-imgs {
    width: 400px;
    height: 300px;
   
}

.parallax-section-2 {
    min-height: 100px;
    background: transparent;
}

