<div class="home-wrapper">

    <header class="parallax-header">
        <div class="container">
            <div class="header-content">
                <a href="#">
                    <img src="assets/images/mlnguyen logo.PNG" width="200" class="d-block mx-auto">
                </a>
                <p class="text-center">mlnguyen kitchen</p>
                <h3 class="text-center">Authentic Canadian food</h3>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="section-content-2">
            <div class="content row">
                <div id="all-locations" class="col-md-12 title-location">
                    <h1>Visit our locations</h1>
                </div>
            </div>

            <div class="content row d-flex justify-content-center text-center">
                <div class="col-md-3">
                    <a href="#"><img class="store-front-img" src="assets/images/store-front-1.jpg"
                            alt="Toronto Location"></a>
                    <h2 class="store-front-address text-center">1234 Toronto St.</h2>
                </div>

                <div class="col-md-3">
                    <a href="#"><img class="store-front-img" src="assets/images/store-front-2.jpg"
                            alt="Toronto Location"></a>
                    <h2 class="store-front-address text-center">321 Yonge St.</h2>
                </div>

                <div class="col-md-3">
                    <a href="#"><img class="store-front-img" src="assets/images/store-front-3.jpg"
                            alt="Toronto Location"></a>
                    <h2 class="store-front-address text-center">789 Keele St.</h2>
                </div>
            </div>
        </div>
    </div>

    <section class="parallax-section-1">
        <div class="container">
            <div class="section-content">
                <div class="row justify-content-center">
                    <div class="col-4 text-center">
                        <h1>Welcome</h1>
                        <h4>Bringing you the freshest ingrediants from the locals, we bring you the
                            tastiest traditional canadian food has to offer. Fresh. Tasty. Glamourous.</h4>
                        <h2>Enjoy!</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container-fluid">
        <div class="section-content-2">

            <div class="row justify-content-center text-center">
                <div class="col-md-6">
                    <h1 class="text-center">Fresher than EVER!</h1>
                    <h3>Check out our menu for the finest Canadian food Toronto has to offer! We offer gluten-free and
                        vegan options. We can assure you the quality is top notch and always fresh.</h3>
                    <button type="button" class="btn btn-primary">Check our our menu</button>
                    <h2 class="text-center">Enjoy!</h2>
                </div>
            </div>

            <div class="row justify-content-center text-center">
                <div class="col-md-3">
                    <img class="menu-item-imgs" src="assets/images/menu-items/pizza.jpg" alt="pizza">
                </div>
                <div class="col-md-3">
                    <img class="menu-item-imgs" src="assets/images/menu-items/burger-combo.jpg" alt="burger-combo">
                </div>
                <div class="col-md-3">
                    <img class="menu-item-imgs" src="assets/images/menu-items/fries.jpg" alt="fries">
                </div>
            </div>
        </div>
    </div>

    <div class="parallax-section-2" data-parallax="scroll" data-image-src="assets/images/pizza-with-ingrediants.jpg">
        <div class="container">
            <div class="section-content">
                <div class="row justify-content-center text-center">
                    <div class="comments-container">

                        <div>
                            <div class="">
                                <h1>Hear from our customers!</h1>
                            </div>

                            <ngb-carousel class="comment">
                                <ng-template ngbSlide>
                                    <div class="container">
                                        <div class="row justify-content-center text-center">
                                            <h3>This place is great! Atmosphere is chill and cool but the staff is also
                                                really friendly. You can tell making
                                                the customers happy is their main
                                                priority. Food is pretty good, some classics and some twists,
                                                and for their prices it’s 100% worth it.</h3>
                                            <h2>-Terry Faker</h2>
                                        </div>
                                    </div>
                                </ng-template>

                                <ng-template ngbSlide>
                                    <div class="container">
                                        <div class="row justify-content-center text-center">
                                            <h3> This cozy restaurant has left the best impressions! Hospitable hosts,
                                                delicious dishes, beautiful presentation, wide wine list and wonderful
                                                dessert. I recommend to everyone! I would like to come back here again
                                                and again.</h3>
                                            <h2>-Non Real</h2>
                                        </div>
                                    </div>
                                </ng-template>

                                <ng-template ngbSlide>
                                    <div class="container">
                                        <div class="row justify-content-center text-center">
                                            <h3> It’s a great experience. The ambiance is very welcoming and charming.
                                                Amazing wines, food and service. Staff are extremely knowledgeable and
                                                make great recommendations.</h3>
                                            <h2>-Rev Viewer</h2>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-carousel>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>