<div class="home-wrapper">

    <header class="parallax-header">
        <div class="container">
            <div class="header-content">
                <a href="#">
                    <img src="assets/images/mlnguyen logo.PNG" width="200" class="d-block mx-auto">
                </a>
                <h3 class="text-center text-light">Authentic INSERT food</h3>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="content row">
            <div class="col-md-12 title-location">
                <h1>Visit our locations</h1>
            </div>
        </div>

        <div class="content row d-flex justify-content-center text-center">
            <div class="col-md-4">
                <a href="#"><img class="store-front-img" src="assets/images/store-front-1.jpg"
                        alt="Toronto Location"></a>
                <h2 class="store-front-address text-center">1234 Toronto St</h2>
            </div>

            <div class="col-md-4">
                <a href="#"><img class="store-front-img" src="assets/images/store-front-1.jpg"
                        alt="Toronto Location"></a>
                <h2 class="store-front-address text-center">1234 Toronto St</h2>
            </div>

            <div class="col-md-4">
                <a href="#"><img class="store-front-img" src="assets/images/store-front-1.jpg"
                        alt="Toronto Location"></a>
                <h2 class="store-front-address text-center">1234 Toronto St</h2>
            </div>
        </div>

    </div>

    <section class="parallax-section-1">
        <div class="container">
            <div class="section-content">
                <div class="row justify-content-center">
                    <div class="col-4 text-center">
                        <h1>Welcome</h1>
                        <h4>Bringing you the freshest ingrediants from the locals, we bring you the
                            tastiest traditional canadian food has to offer. Fresh. Tasty. Glamourous.</h4>
                        <h2>Enjoy!</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="section-content">
            <div class="row justify-content-center text-center">
                <div class="col-md-6">
                    <h1 class="text-center">Fresher than EVER!</h1>
                    <h3>Check out our menu for the finest Canadian food Toronto has to offer! We offer gluten-free and
                        vegan options. We can assure you the quality is top notch and always fresh.</h3>
                    <button type="button" class="btn btn-primary">Check our our menu</button>
                    <h2 class="text-center">Enjoy!</h2>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-4">
                    <img class="menu-item-imgs" src="assets/images/menu-items/pizza.jpg" alt="pizza">
                </div>
                <div class="col-md-4">
                    <img class="menu-item-imgs" src="assets/images/menu-items/burger-combo.jpg" alt="burger-combo">
                </div>
                <div class="col-md-4">
                    <img class="menu-item-imgs" src="assets/images/menu-items/fries.jpg" alt="fries">
                </div>
            </div>
        </div>
    </div>

    <div class="parallax-section-2" data-parallax="scroll" data-image-src="assets/images/pizza-with-ingrediants.jpg">
        <div class="container">
            <div class="section-content">
                <div class="row justify-content-center  text-center">

                    <div class="comments col-6">
                        <h1>Hear from our customers!</h1>
                        <div id="carouselExampleControls" class="carousel slide" data-mdb-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img
                                  src="https://mdbootstrap.com/img/new/slides/041.jpg"
                                  class="d-block w-100"
                                  alt="..."
                                />
                              </div>
                              <div class="carousel-item">
                                <img
                                  src="https://mdbootstrap.com/img/new/slides/042.jpg"
                                  class="d-block w-100"
                                  alt="..."
                                />
                              </div>
                              <div class="carousel-item">
                                <img
                                  src="https://mdbootstrap.com/img/new/slides/043.jpg"
                                  class="d-block w-100"
                                  alt="..."
                                />
                              </div>
                            </div>
                            <button
                              class="carousel-control-prev"
                              type="button"
                              data-mdb-target="#carouselExampleControls"
                              data-mdb-slide="prev"
                            >
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button
                              class="carousel-control-next"
                              type="button"
                              data-mdb-target="#carouselExampleControls"
                              data-mdb-slide="next"
                            >
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>

                    </div>

                </div>
            </div>

        </div>
    </div>



    <section class="parallax-section-2">
        <div class="container">
            <div class="section-content">
                <div class="row justify-content-center">
                    <div class="col-4 text-center">
                        <h1>Welcome</h1>
                        <h3>Bringing you the freshest ingrediants from the locals, we bring you the
                            tastiest traditional canadian food has to offer. Fresh. Tasty. Glamourous.</h3>
                        <h2>Enjoy!</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
</div>

