<div class="home-wrapper">

    <header class="parallax-header">
        <div class="container">
            <div class="header-content">
                <a href="#">
                    <img src="assets/images/mlnguyen logo.PNG" width="200" class="d-block mx-auto">
                </a>
                <h3 class="text-center text-light">Authentic INSERT food</h3>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="content row">
            <div class="col-md-12 title-location">
                <h1>Visit our locations</h1>
            </div>
        </div>

        <div class="content row d-flex justify-content-center">
            <div class="col-md-4">
                <a href="#"><img class="store-front-img" src="assets/images/store-front-1.jpg" alt="HTML tutorial"></a>
                <h2 class="store-front-address text-center">1234 Toronto St</h2>
            </div>

            <div class="col-md-4">
                <a href="#"><img class="store-front-img" src="assets/images/store-front-1.jpg" alt="HTML tutorial"></a>
                <h2 class="store-front-address text-center">1234 Toronto St</h2>
            </div>

            <div class="col-md-4">
                <a href="#"><img class="store-front-img" src="assets/images/store-front-1.jpg" alt="HTML tutorial"></a>
                <h2 class="store-front-address text-center">1234 Toronto St</h2>
            </div>
        </div>

    </div>

    <section class="parallax-section-1">asd
        <div class="container">
            <div class="section-content">
                <div class="row justify-content-center">
                    <div class="col-4">
                        <h1 class="text-center">Welcome</h1>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4">
                        <h3 class="text-center">Bringing you the freshest ingrediants from the locals, we bring you the
                            tastiest traditional canadian food has to offer. Fresh. Tasty. Glamourous.</h3>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4">
                        <h2 class="text-center">Enjoy!</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="section-content">
            <div class="row justify-content-center">
                <div class="col-4">
                    <h1 class="text-center">Fresher than EVER!</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4">
                    <h3 class="text-center">Check out our menu </h3>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4">
                    <h2 class="text-center">Enjoy!</h2>
                </div>
            </div>
        </div>
    </div>

    <div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel felis nisi. Aliquam sit amet enim
            viverra,
            aliquet leo ut, iaculis orci. Sed a hendrerit sapien. Vivamus turpis metus, venenatis at orci et, dignissim
            sagittis nisl. Fusce molestie lacinia ex, vel dictum purus. Aliquam libero lacus, vestibulum fermentum magna
            in,
            pretium varius tellus. Duis tempus, lacus at rutrum molestie, neque tellus convallis magna, et gravida
            tortor
            velit at justo. Sed vulputate auctor neque quis accumsan. Quisque diam dolor, consequat ut ultricies eu,
            semper
            elementum felis.

            Proin vestibulum, massa et condimentum rhoncus, libero ipsum molestie lectus, et tempor lectus quam varius
            sapien. Maecenas at nunc fermentum, feugiat erat vel, volutpat risus. Integer et justo placerat, condimentum
            nibh nec, hendrerit erat. Nulla facilisi. Quisque luctus leo turpis, pharetra feugiat risus vulputate at.
            Sed
            sit amet gravida magna, eget hendrerit odio. Donec nec quam at dolor rutrum pulvinar et ut nunc.
            Pellentesque
            auctor non purus eu pellentesque. Vivamus sit amet bibendum ligula. Maecenas nec ex augue. Morbi nec enim a
            velit luctus tincidunt. Pellentesque fringilla tempus mattis. Etiam sapien odio, efficitur a ex eu, posuere
            feugiat est. Integer neque mauris, cursus at faucibus nec, fermentum eget lacus.
        </p>
    </div>

    <div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel felis nisi. Aliquam sit amet enim
            viverra,
            aliquet leo ut, iaculis orci. Sed a hendrerit sapien. Vivamus turpis metus, venenatis at orci et, dignissim
            sagittis nisl. Fusce molestie lacinia ex, vel dictum purus. Aliquam libero lacus, vestibulum fermentum magna
            in,
            pretium varius tellus. Duis tempus, lacus at rutrum molestie, neque tellus convallis magna, et gravida
            tortor
            velit at justo. Sed vulputate auctor neque quis accumsan. Quisque diam dolor, consequat ut ultricies eu,
            semper
            elementum felis.

            Proin vestibulum, massa et condimentum rhoncus, libero ipsum molestie lectus, et tempor lectus quam varius
            sapien. Maecenas at nunc fermentum, feugiat erat vel, volutpat risus. Integer et justo placerat, condimentum
            nibh nec, hendrerit erat. Nulla facilisi. Quisque luctus leo turpis, pharetra feugiat risus vulputate at.
            Sed
            sit amet gravida magna, eget hendrerit odio. Donec nec quam at dolor rutrum pulvinar et ut nunc.
            Pellentesque
            auctor non purus eu pellentesque. Vivamus sit amet bibendum ligula. Maecenas nec ex augue. Morbi nec enim a
            velit luctus tincidunt. Pellentesque fringilla tempus mattis. Etiam sapien odio, efficitur a ex eu, posuere
            feugiat est. Integer neque mauris, cursus at faucibus nec, fermentum eget lacus.
        </p>
    </div>

    <div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel felis nisi. Aliquam sit amet enim
            viverra,
            aliquet leo ut, iaculis orci. Sed a hendrerit sapien. Vivamus turpis metus, venenatis at orci et, dignissim
            sagittis nisl. Fusce molestie lacinia ex, vel dictum purus. Aliquam libero lacus, vestibulum fermentum magna
            in,
            pretium varius tellus. Duis tempus, lacus at rutrum molestie, neque tellus convallis magna, et gravida
            tortor
            velit at justo. Sed vulputate auctor neque quis accumsan. Quisque diam dolor, consequat ut ultricies eu,
            semper
            elementum felis.

            Proin vestibulum, massa et condimentum rhoncus, libero ipsum molestie lectus, et tempor lectus quam varius
            sapien. Maecenas at nunc fermentum, feugiat erat vel, volutpat risus. Integer et justo placerat, condimentum
            nibh nec, hendrerit erat. Nulla facilisi. Quisque luctus leo turpis, pharetra feugiat risus vulputate at.
            Sed
            sit amet gravida magna, eget hendrerit odio. Donec nec quam at dolor rutrum pulvinar et ut nunc.
            Pellentesque
            auctor non purus eu pellentesque. Vivamus sit amet bibendum ligula. Maecenas nec ex augue. Morbi nec enim a
            velit luctus tincidunt. Pellentesque fringilla tempus mattis. Etiam sapien odio, efficitur a ex eu, posuere
            feugiat est. Integer neque mauris, cursus at faucibus nec, fermentum eget lacus.
        </p>
    </div>

    <div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel felis nisi. Aliquam sit amet enim
            viverra,
            aliquet leo ut, iaculis orci. Sed a hendrerit sapien. Vivamus turpis metus, venenatis at orci et, dignissim
            sagittis nisl. Fusce molestie lacinia ex, vel dictum purus. Aliquam libero lacus, vestibulum fermentum magna
            in,
            pretium varius tellus. Duis tempus, lacus at rutrum molestie, neque tellus convallis magna, et gravida
            tortor
            velit at justo. Sed vulputate auctor neque quis accumsan. Quisque diam dolor, consequat ut ultricies eu,
            semper
            elementum felis.

            Proin vestibulum, massa et condimentum rhoncus, libero ipsum molestie lectus, et tempor lectus quam varius
            sapien. Maecenas at nunc fermentum, feugiat erat vel, volutpat risus. Integer et justo placerat, condimentum
            nibh nec, hendrerit erat. Nulla facilisi. Quisque luctus leo turpis, pharetra feugiat risus vulputate at.
            Sed
            sit amet gravida magna, eget hendrerit odio. Donec nec quam at dolor rutrum pulvinar et ut nunc.
            Pellentesque
            auctor non purus eu pellentesque. Vivamus sit amet bibendum ligula. Maecenas nec ex augue. Morbi nec enim a
            velit luctus tincidunt. Pellentesque fringilla tempus mattis. Etiam sapien odio, efficitur a ex eu, posuere
            feugiat est. Integer neque mauris, cursus at faucibus nec, fermentum eget lacus.
        </p>
    </div>

    <div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel felis nisi. Aliquam sit amet enim
            viverra,
            aliquet leo ut, iaculis orci. Sed a hendrerit sapien. Vivamus turpis metus, venenatis at orci et, dignissim
            sagittis nisl. Fusce molestie lacinia ex, vel dictum purus. Aliquam libero lacus, vestibulum fermentum magna
            in,
            pretium varius tellus. Duis tempus, lacus at rutrum molestie, neque tellus convallis magna, et gravida
            tortor
            velit at justo. Sed vulputate auctor neque quis accumsan. Quisque diam dolor, consequat ut ultricies eu,
            semper
            elementum felis.

            Proin vestibulum, massa et condimentum rhoncus, libero ipsum molestie lectus, et tempor lectus quam varius
            sapien. Maecenas at nunc fermentum, feugiat erat vel, volutpat risus. Integer et justo placerat, condimentum
            nibh nec, hendrerit erat. Nulla facilisi. Quisque luctus leo turpis, pharetra feugiat risus vulputate at.
            Sed
            sit amet gravida magna, eget hendrerit odio. Donec nec quam at dolor rutrum pulvinar et ut nunc.
            Pellentesque
            auctor non purus eu pellentesque. Vivamus sit amet bibendum ligula. Maecenas nec ex augue. Morbi nec enim a
            velit luctus tincidunt. Pellentesque fringilla tempus mattis. Etiam sapien odio, efficitur a ex eu, posuere
            feugiat est. Integer neque mauris, cursus at faucibus nec, fermentum eget lacus.
        </p>
    </div>
</div>